:root {
	--main-color : silver;
	--main-color-bg : #1e1e1e ;
}

.comment {
	color: #6a9955;
	white-space: pre;
	font-family: 'Droid Sans Mono', 'monospace', monospace;
}

.output-visible {
	border-radius: 25px;
	border: 4px solid var(--main-color);
	padding: 10px 10px;
	background-color: var(--main-color-bg);
	font-family: 'Droid Sans Mono', 'monospace', monospace;
}

.output-invisible{
	display: none;
}

.copyLine {
	white-space: pre;	
	font-family: 'Droid Sans Mono', 'monospace', monospace;
	color: var(--main-color);
}

body {
	background-color: var(--main-color-bg);
	color: var(--main-color);
}

h1 {
	color: var(--main-color);
}

.button {
	background-color: var(--main-color-bg);
	border: 1px solid var(--main-color);
	text-align: center;
	border-radius: 25px;
	font-size: large;
	color : var(--main-color);
	padding: 2px 2px;
}

.button:hover {
	background-color: var(--main-color);
	color : var(--main-color-bg);
}


label.button {
	background-color: var(--main-color-bg);
	border: 1px solid var(--main-color);
	text-align: center;
	border-radius: 25px;
	font-size: large;
	color : var(--main-color);
	padding: 2px 2px;
}
label.button:hover {
	background-color: var(--main-color);
}

input[type='text']{
	background-color: var(--main-color-bg);
	width: 150px;
	font-size: large;
	color: var(--main-color);
}

select{
	background-color: var(--main-color-bg);
	width: 150px;
	font-size: large;
	color: var(--main-color);
}

table td, table td * {
    vertical-align: top;
	font-size: large;
	border-spacing: 10px;
}
